<div class="card blogpost comment" data-aos="flip-down">
    <div class="card-body">
        <p class="card-text">{{comment_body}}</p>
        <div class="tiny">
            <p class="card-text"><small class="text-muted">{{user.user_name}} <- </small></p>
            <p class="card-text"><small class="text-muted"> -> {{createdAt}}</small></p>
        </div>
    </div>
</div>