<div class="dashboard">
    <div class="posty">
        <h4>Your Posts</h4>
        <a href="/newpost" class="addpost"><i class="fas fa-plus"></i></a>
    </div>
    {{#each blogPosts as |blogpost|}}
    {{>post dashboard="true"}}
    {{/each}}
</div>