<form class="loginform">
    <div class="form-group">
        <label for="loginusername">Username</label>
        <input type="text" class="form-control" id="inputusername" placeholder="username">
    </div>
    <div class="form-group">
        <label for="loginpassword">Password</label>
        <input type="password" class="form-control" id="loginpassword" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary" id="loginsubmit">Submit</button>
    <a href="/signup">Signup</a>
</form>