<form class="newpost">
    <div class="form-group">
        <label for="posttitle">Title</label>
        <input type="text" class="form-control" id="posttitle" placeholder="title">
    </div>
    <div class="form-group">
        <label for="posttext">Example textarea</label>
        <textarea class="form-control" id="posttext" rows="5" placeholder="your post goes here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="postsubmit">Submit</button>
</form>