* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(66, 66, 66);
    color: rgba(255, 255, 255, 0.827);
    overflow-x: hidden;
}

.navnav,
.posty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p {
    margin-bottom: 0;
}

.loginform,
.signupform {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px;
}

.loginform>button,
.signupform>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.addpost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vh;
    height: 2.5vh;
    margin: 1vw;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.827);
    border: 1px solid rgba(255, 255, 255, 0.694);
}

.addpost:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.contentdiv {
    margin-top: 5px;
}

.newpost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
    margin: 5px;
}

.card-text {
    white-space: pre-line;
}

.newpost>button,
.newcomment>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin-bottom: 5px;
}

.newpost #posttitle {
    width: 25%;
}

#posttext,
#commenttext {
    width: 60%;
}

#commenttext {
    margin-top: 5px;
}

.blogposts,
.dashboard {
    margin: 10px;
}

.card-body {
    background-color: rgba(66, 66, 66, 0.906);
}

.tiny {
    display: flex;
}

.blogpost {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.669);
    margin: 20px 0;
    filter: drop-shadow(0 0 0.25rem rgb(0, 0, 0));
}

.card {
    border: none;
}

.blogpost:hover,
.footfoot>button:hover,
.toptop>button:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.comment {
    color: rgb(255, 255, 255);
}

.newcomment>.form-group {
    margin-bottom: 5px;
}

.posty>h4 {
    margin: 0;
}

.footfoot,
.toptop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footfoot>button,
.toptop>button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgba(255, 255, 255, 0.669);
}

.toptop>button {
    margin-bottom: .75rem;
}

.editing {
    cursor: default;
    background-color: rgba(66, 66, 66, 0.758);
}