* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(66, 66, 66);
    color: rgba(255, 255, 255, 0.827);
}

.navnav {
    display: flex;
    justify-content: flex-start
}

.loginform,
.signupform {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 5px;
}

.loginform>button,
.signupform>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}